# Introdução ao Pandas

Este notebook vai introduzir você à biblioteca [`Pandas`](https://pandas.pydata.org/) e mostrar como examinar, ordenar, agrupar e agregar uma base de dados. Usaremos dados da [Liga de Baseboll dos Estados Unidos](https://databases.usatoday.com/mlb-salaries/).

Se você é iniciante no Python ou precisa reforçar conhecimentos básicos sobre a sintaxe, pode ser interessante [começar com esse notebook](Python.ipynb) 

O notebook irá cobrir as seguintes etapas:

*   Importar o Pandas
*   Carregar dados dentro de um dataframe
*   Examinar os dados
*   Ordenação
*   Filtragem de dados
*   Agrupar e agregar os dados
*   Exportar como CSV

# Importar o Pandas

Antes de usar as funcionalidades do `Pandas` ou outras bibliotecas de terceiros que não estão inclusas no Python, você precisa importa-las, usando o `import`. É comum colocarmos uma abreviação, um nome mais curto para facilitar sua utilização no restante de nosso código. No caso do `pandas` por convenção é usado  `pd`.

Então, vamos começar rodando esta célula:

In [ ]:
import pandas as pd

Se você não tem o Pandas instalado na sua máquina, irá receber um erro. Para instalar a bibloteca, podemos usar o gerenciador de pacotes do Python (PIP), rodando o comando `!pip install pandas` antes de importá-la.

**Mude os formatos de exibição**

O passo seguinte é opcional, mas é muito comum em notebooks de análise de dados usando Pandas. 

A próxima célula altera o formato de exibição para números, que são escritos em notação científica por padrão. Se ler números nesse formato for confortável para você, você não precisa executá-la.

In [ ]:
pd.options.display.float_format = '{:20,.2f}'.format

Para saber mais sobre essa mudança de formato, [consulte a documentação](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html).

# Carregar dados em uma tabela (DataFrame)

Antes de começar a manipular os dados, é preciso carregá-los dentro de uma tabela (DataFrame) do Pandas. Um dataframe é como se fosse uma tabela, como a do Excel, com linhas e colunas.

Você pode carregar diferentes tipos de dados como de um DataFrame incluindo CSVs, arquivos do Excel (xlsx), JSON, [entre outros](https://www.cbtnuggets.com/blog/technology/programming/14-file-types-you-can-import-into-pandas). Confira esse outro notebook com [exemplos de importações de acordo com o tipo de arquivo](https://github.com/ireapps/cfj-2018/blob/master/reference/Importing%20data%20into%20pandas.ipynb).

O foco aqui será importar os dados sobre a Liga de Basebol usando o método `read_csv`. Há várias opções que você pode incluir quando estiver lendo uma base de dados, porém a maneira mais simples é indicar o caminho do arquivo entre aspas. Neste caso, vamos usar a própria URL do arquivo CSV presente no [repositório do Github](https://github.com/escola-de-dados/notebooks-python-pandas/) deste tutorial.

In [ ]:
df = pd.read_csv('https://github.com/escola-de-dados/notebooks-python-pandas/raw/master/mlb.csv')

Além de importar os dados, vamos salvar essas informações dentro de uma variável chamada `df` (nome curto para DataFrame - facilita a leitura e a busca por ajuda no Google, por ser algo padronizado).

Resumindo: Importamos a biblioteca `pandas` e chamamos ela de `pd`, usamos o método `read_csv` para importar os dados do aquivo `mlb.csv` dentro de um `dataframe`, depois salvamos esta tabela na variável `df`.

# Examinando os dados

Vamos dar uma olhada mais detalhada nos dados que temos usando alguns métodos e atributos de um DataFrame Pandas:

- `df.head()`: Mostra as cinco primeiras linhas do dataframe por padrão, mas você pode especificar a quantidade que preferir entre parênteses. Ex: `df.head(10)`

In [ ]:
df.head()

- `df.tail()`: Mostra as últimas cinco linhas do DataFrame, mas você pode especificar a quantidade que preferir entre parênteses. Ex. `df.tail(10)`

In [ ]:
df.tail()

- `df.describe()`: Apresenta um resumo estatístico apenas das colunas que contém conteudo numérico.

In [ ]:
df.describe()

- `df.sample()`: Mostra uma linha aleatória do DataFrame, mas você pode especificar quantas linhas aleatórias deseja visualizar. Ex: `df.sample(5)`

In [ ]:
df.sample()

- `df.shape`: Informa quantas colunas e linhas o DataFrame tem.

In [ ]:
df.shape

- `df.dtypes`: Lista o nome das colunas e o tipo de dados que contém em cada uma.

In [ ]:
df.dtypes

# Ordenando os dados

Para ordenar um DataFrame, use o método `sort_values()`. A maneira mais simples de uso é passando o nome de uma coluna entre parênteses.

In [ ]:
df.sort_values('SALARY')

Como padrão esse método ordena de forma crescente. Se desejar que seja decrescente, coloque `ascending=False`. 

Observe que o valor boleano não é uma string, por isso não está entre aspas e tem a letra inicial em maiúscula. Alguns métodos ou funções possuem diversos argumentos que podem ser passados entre parênteses, para saber quais são consulte a [documentação do Pandas](https://pandas.pydata.org/docs/). Se desejar passar mais de um argumento, basta separar eles com vírgulas.

In [ ]:
df.sort_values('SALARY', ascending=False)

Você pode encadear vários métodos em uma linha. Por exemplo, se quisessemos ordenar os dados de maneira descendente e mostrar apenas as cinco primeiras linhas, poderíamos fazer dessa forma:

In [ ]:
df.sort_values('SALARY', ascending=False).head()

Você pode ordenar várias colunas de uma vez, passando uma lista com nome de colunas ao invés de uma única coluna. Uma lista é um conjunto de itens separado por vírgulas, entre colchetes `[]`.<br>
Para ordenar primeiro `SALARY` e depois `TEAM`:

In [ ]:
df.sort_values(['SALARY','TEAM']).head()

Você pode especificar o ordenamento (ascendente ou descendente) para cada coluna listada, passando um outra lista para o `ascending` com `True` e `False`, na ordem das colunas a serem ordenadas. Por exemplo, para ordenar a coluna `SALARY` como descendente e `TEAM` como `ascendente`, seria:

In [ ]:
df.sort_values(['SALARY', 'TEAM'], ascending=[False,True]).head()

O `False` foi para coluna `SALARY` e o `True` para coluna `TEAM` porque estes operadores.
ooleanos estão na mesma posição que as colunas foram passadas na lista.operadores.

**Observação:** Apesar de terem sido feitas essas ordenações, nenhuma alteração foi aplicada ao dataframe original.

In [ ]:
df.head()

Isso acontece porque não salvamos os resultados do ordenamento em uma variável. Se você quiser manter o ordenamento que você fez (ou qualquer outro tipo de manipulação), recomenda-se guardar os resultados em uma variável.

In [ ]:
ordenar_por_team = df.sort_values('TEAM')

In [ ]:
ordenar_por_team.head()

✍️ **Sua vez!** <p> 
Nas próximas células, ordene o DataFrame `df`:



*   Pela coluna `NAME`

*   Pela coluna `POS` de modo descendente

*   Pela coluna `SALARY` de modo descendente, `POS` de modo ascendente, e salve os resultados em uma variável chamada `ordene_por_salary_e_pos`

# Filtrar os dados

Vamos ver dois tipos diferentes de filtro:


*   **Filtro de coluna:** Retorna uma ou mais colunas de dados especificadas, semelhante a passar nome de colunas no `SELECT` em uma consulta SQL.
  
*   **Filtro de linha:** Retorna um recorte dos seus dados que atenda aos critérios que foram especificados, semelhante a uma consulta SQL usando `WHERE`. Por exemplo: Mostre todos os dados no DataFrame onde os valores da coluna `TEAM` sejam igual a `ARI`.

**Filtro de coluna**<p>
Para acessar os valores em uma única coluna de dados, você pode usar um ponto e o nome da coluna, desde que o nome da coluna não tenha espaços ou caracteres especiais.

In [ ]:
df.TEAM

Outro jeito é usando os colchetes com o nome da coluna entre aspas. Este modo é bastante útil quando o nome das colunas possuem espaços, por exemplo.

In [ ]:
df['TEAM']

Quando você acessa uma única coluna no seu DataFrame, você está pegando uma parte dele, que é chamada de `Series`.

Um dos métodos que podem ser chamados para série (Series) é o `unique()`, que mostra apenas valores únicos da coluna. Vamos fazer isso com a coluna `TEAM`:

In [ ]:
df.TEAM.unique()

Você pode contar o total de linhas para cada valor usando o método `values_counts()`:

In [ ]:
df.TEAM.value_counts()

Para colunas numéricas, você pode chamar métodos básicos de estatística na coluna:


*   `min()` pega o menor valor
*   `max()` pega o maior valor
*   `median()` pega a mediana
*   `mean()` pega a média
*   `mode()` pega o valor mais comum

Vamos checar esses métodos, aplicando-os na coluna `SALARY`:

In [ ]:
df.SALARY.min()

In [ ]:
df.SALARY.max()

In [ ]:
df.SALARY.median()

In [ ]:
df.SALARY.mean()

In [ ]:
df.SALARY.mode()

Para selecionar várias colunas do DataFrame, passamos uma lista com os nomes das colunas entre colchetes, ao invés de apenas uma. Uma maneira de ficar legível é executando esse procedimento em duas etapas.

In [ ]:
# Salva em uma variável as colunas que desejamos filtrar
colunas_filtradas = ['TEAM','SALARY']

# Passa a variável entre colchetes, junto ao nome do DataFrame
df[colunas_filtradas]

**Filtrando linhas**

O colchetes também é usado para filtrar linhas. Neste caso, ao invés do nome da coluna (ou uma lista de nomes), colocamos dentro do colchetes uma condição.

Vamos filtrar nossos dados para ver qual jogador tem salário maior que 1000000, ou seja, o filtro deve retornar as linhas onde o valor da coluna `SALARY` seja maior que $1.000.000.

In [ ]:
df[df.SALARY > 1000000]

Esse filtro em SQL seria:

```sql
SELECT *
FROM mlb
WHERE SALARY > 1000000
```

É possível usar os operadores de comparação do Python:


*   `>`  maior que
*   `>=` maior ou igual a
*   `<`  menor que
*   `<=` menor ou igual a
*   `==` igual a
*   `!=` diferente de

**Filtro com muitas condições**

O que fazer quando se quer usar um filtro com mais de uma condição? Podemos salvar os resultados de cada filtro em uma variável e depois filtrar novamente a partir do DataFrame original.

Por exemplo, se você quiser saber quais jogadores do Colorado Rockies tem salários acima de $1 milhão, você pode fazer assim:

In [ ]:
#Filtrando primeiro só quem joga no Colorado Rockies
rockies = df[df.TEAM == 'COL']

#Filtrando os salários maiores que $1 milhão, utilizando o filtro anterior para sinalizar em qual time o filtro deve acontecer 
rockies_maior_1m = rockies[rockies.SALARY > 1000000]

rockies_maior_1m

✍️ **Sua vez!**

Nas celulas seguintes, faça os seguintes filtros: 


*   **Filtro de coluna:** Selecione a coluna `NAME`

*   **Filtro de coluna:** Selecione as colunas `NAME` e `TEAM`

*   **Filtro de linha:** Filtre as linhas e traga como resultado apenas os Catchers (C, na coluna `POS`) que tem salários a partir de $750000

*   **BÔNUS:** Filtre as linhas e traga apenas os jogadores do Chicago Cubs (CHC), depois ordene de maneira descendente a coluna `SALARY`

# Agupar e agregar os dados

O método `groupby` é usado para agrupar e agregar os dados, semelhante ao que é feito em uma tabela dinâmica ou uma consulta SQL. O Pandas também tem um método para tabela dinâmica, caso te interesse [você pode conferir na documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html).


Digamos que queremos ver o top 10 dos times por folha de pagamento. Em outras palavras nós queremos:

*   Agrupar os dados pela coluna `TEAM`: `groupby()`
*   Somar os resultados de cada grupo: `sum()`
*   Ordenas os resultados pela coluna `SALARY` de forma descendente: `sort_values()`
*   Mostrar apenas o top 10: `head(10)`
  
Chamar o método `groupby()` sem dizer o que ele faz com os resultados agrupados não ajuda muito:

In [ ]:
df.groupby('TEAM')

Basicamente o Pandas só nos diz que o agrupamento foi bem sucedido. O que fazemos agora? Usando métodos encadeados, descrevemos o que gostariamos de fazer com as colunas numéricas depois que elas estão agrupadas. <p>Vamos começar com `sum()`:

In [ ]:
df.groupby('TEAM').sum()

Perfeito! Exceto pelo fato que o Pandas somou todas as colunas numéricas e não apenas a coluna `SALARY`. Para ajustar isso, filtraremos as duas colunas que estamos interessados - agrupando pela coluna `TEAM` e então somaremos os valores. Como nesse filtro a única coluna numérica é `SALARY`, o Pandas vai entender que é apenas essa que deve ser somada.

**Lembre-se:** Para selecionar as colunas de um DataFrame, use colchetes e liste o nome das colunas, separando com vírgula.

In [ ]:
df[['TEAM', 'SALARY']].groupby('TEAM').sum()

Ótimo! Agora encadeando os métodos vamos ordenar a coluna `SALARY` de maneira descendente, trazendo como resultado apenas o top 10:

In [ ]:
df[['TEAM','SALARY']].groupby('TEAM').sum().sort_values('SALARY', ascending=False).head(10)

Você pode agregar outros métodos além do `sum()`, como `mean()` e `median()`, usando o método `agg()` para aplicar mais de uma operação.

In [ ]:
df[['TEAM','SALARY']].groupby('TEAM').median()

In [ ]:
df[['TEAM','SALARY']].groupby('TEAM').mean()

In [ ]:
df[['TEAM','SALARY']].groupby('TEAM').agg(['sum','mean','median'])


✍️ **Sua vez!**<p>
Nas próximas células, faça os seguintes agrupamentos:


*   Qual a média salarial de cada posição? Agrupe os dados por `POS` e descubra a mediana (`median()`), depois agrupe a coluna `SALARY` de maneira descendente.

*   Qual a média salarial de cada time? Agrupe os dados pela coluna `TEAM` e some (`sum()`), depois ordene pela coluna `SALARY` de maneira descendente.

# Exportar como CSV

Para exportar o DataFrame como um arquivo CSV, use o método `to_csv`, indicando o caminho onde deseja que seu arquivo seja salvo. Se você não quiser incluir o índice do DataFrame, especifique usando `index=False`.

In [ ]:
df.to_csv('meu_arquivo.csv', index=False)